@page "/"

@inject IConfiguration Configuration

<h1>Hello, world!</h1>

<button class="btn btn-primary" type="submit" @onclick="@OnUploadClick">Upload</button>

@code {
    [Inject]
    CloudinaryUploadWidget CloudinaryUploadWidget { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var cloudinaryUploadWidgetOptions =
            new CloudinaryUploadWidgetOptions
                {
                    CloudName = this.Configuration["CLOUDINARY_CLOUD_NAME"],
                    Folder = "test",
                    Sources = new[] { "local", "url", "camera" },
                    CroppingAspectRatio = 1,
                    MaximumImageHeight = 200,
                    MaximumImageWidth = 200
                };

        await this.CloudinaryUploadWidget.CreateAsync(cloudinaryUploadWidgetOptions);
    }

    protected async Task OnUploadClick(
        MouseEventArgs mouseEventArgs)
    {
        await this.CloudinaryUploadWidget.OpenWidgetAsync();
    }
}